<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id"/>
              <div class="row">
                <div class="input-feild col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="userService.selectedUser.name" placeholder="Enter full name" required>
                  <label>Name :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-feild col s12">
                  <input type="text" name="equipment" #name="ngModel" [(ngModel)]="userService.selectedUser.equipment" placeholder="Equipment name">
                  <label>Equipment : </label>
                </div>
              </div>
              <div class="row">
                <div class="input-feild col s12">
                  <input type="text" name="time" #name="ngModel" [(ngModel)]="userService.selectedUser.time" placeholder="0000">
                  <label>Time : </label>
                </div>
              </div>
              <div class="row">
                <div class="input-feild col s12">
                  <input type="text" name="damage" #name="ngModel" [(ngModel)]="userService.selectedUser.damage" placeholder="Discribe the damage">
                  <label>Damage : </label>
                </div>
              </div>
              <div class="row">
                <div class="input field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(userForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!userForm.valid">Submit</button>
                </div>
              </div>
            </form>


          </div>
          <div class="col s7">
            <table class="responsive-table highlight">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Equipment</th>
                  <th>Damage</th>
                </tr>
                <tr *ngFor="let cuser of userService.users">
                  <td>{{cuser.name}}</td>
                  <td>{{cuser.equipment}}</td>
                  <td>{{cuser.damage}}</td>
                  <td>
                    <a class="action-btn" (click)="onEdit(cuser)">
                      <i class="material-icons">edit</i>
                     </a>
                    <a class="action-btn" (click)="onDelete(cuser._id, userForm)">
                      <i class="material-icons">delete</i>
                    </a>
                  </td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- new -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title style="color: blueviolet">Image Upload</title>

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h1 class="text-center display-4 my-4">Mongo File Uploads</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <input type="file" name="file" id="file" class="custom-file-input">
            <label for="file" class="custom-file-label">Choose Photo</label>
          </div>
          <input type="submit" value="Upload" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
<!-- /new -->

<!-- <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->
